<div class="aligner" style="height: 100%;">
  <div class="login-card mat-elevation-z8 aligner-item">
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <h1>Login</h1>
          <p class="text-muted m-0">Sign in to your account</p>
        </div>
        <form [formGroup]="loginFormGroup" autocomplete="off">
          <div class="pb-1">

            <mat-form-field class="full-width">
              <input
                matInput
                type="text"
                formControlName="username" 
                placeholder="Username"
                value="">
                <mat-error 
                *ngIf="validateField('username')">  
                  Username is required 
                </mat-error>                  
            </mat-form-field>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input 
                matInput
                type="password"
                formControlName="password"
                placeholder="Password" 
                value="">
                <mat-error 
                *ngIf="validateField('password')">  
                  Password is required 
                </mat-error>                 
            </mat-form-field>
          </div>
          
          <button mat-raised-button class="mat-primary full-width mb-1" (click)="signin();" [disabled]="loginFormGroup.invalid">Sign in</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>